.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 200px;
    background-color:rgb(245, 241, 241);
}

.menu li {
    padding: 5px;
    color:rgb(92, 90, 90);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;

    display: flex;
    justify-content: space-between;
}
.menu li:hover {
    color: rgb(218, 29, 29);
    background-color: rgb(126, 121, 121);   
}

body {
    background-color: rgb(245, 241, 241);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    gap: 50px;
}

.video {
    display: flex;
    flex-wrap: wrap; /* Cho phép rớt dòng khi hết chỗ */
    gap: 15px;      

.video-item {
    width: 210px;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
}


/* 1. Ép ảnh món ăn ở trên cùng phải lùn lại */
.video-item img {
    width: 100%;             /* Ảnh rộng bằng đúng ô chứa nó */
    height: 50%;           /*sửa lỗi ảnh to 130 */
}

/*  Căn chỉnh chữ bên trong */
.noidung {
    padding: 10px;
}

.noidung h3 {
    font-size: 13px;
    margin: 0;
    white-space: nowrap; /* k cho xún*/
    overflow: hidden;  /* chữ dài phần tràn ra dấu đi...*/
    text-overflow: ellipsis;  /* Tên quán dài quá thì tự thêm dấu ... */
}

.diachi {
    font-size: 11px;
    color: #888888;
    margin: 0 0 8px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  /* Địa chỉ dài quá tự thêm dấu ... */
}




/*  Bắt con mèo/chim cánh cụt biến thành nhỏ */
.binhluan {
    display: flex;
    align-items: center;     /* Cho avatar và tên nằm thẳng hàng ngang */
    gap: 8px;
}

.binhluan img {
    width: 30px  ; 
    height: 30px ;  
    border-radius: 100%;       
      }  


    






